
<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <br/><br/>
        <h4 class="header col s12 light" style="color:white;">شهادة أحد المواطنين التونسيين بالخارج </h4>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="/assets/servey.jpeg" style="display: block;"></div>
</div>

<div class="#e8eaf6 indigo lighten-5">
  <br><br><br>
  <div class="row">
    <div class="col m1"></div>
    <div class="col m7">
      <div class="card">
        <div class="card-content" >
          <iframe style="width: 100%;height:400px;" src="https://www.youtube.com/embed/SHnEpDJLYTs" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="card-action" class="right-align" style="margin-right:40px">
          <a class="waves-effect waves-light btn"><i class="material-icons right">star</i>عندك الحق </a>
          <a class="waves-effect waves-light btn"><i class="material-icons right">warning</i>لا</a>
        </div>
        <br>
      </div>
      <div class="row">
        <ul  dir="rtl" class="card">
          <li class="collection-item avatar" >
            <input placeholder="علق " id="first_name" type="text" class="validate">
            <a style="margin-bottom: 20px" class="waves-effect waves-light btn"><i class="material-icons right">person_pin</i>كومنتي</a>
          </li>
        </ul>
      </div>

    </div>
    <div class="row">
      <div class="col s3 m3">
        <div class="card">
          <div class="card-image" style="margin-left : 10px;margin-right : 10px;margin-top : 10px;">
            <iframe style="margin-top: 10px;width: 100%;height:250px;" src="https://www.youtube.com/embed/mYj5T6fLLjQ" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="card-content right-align" >
            <div class="chip light-blue white-text">#فساد</div>
          </div>
        </div>
      </div>
      <div class="col s3 m3">
        <div class="card">
          <div class="card-image" style="margin-left : 10px;margin-right : 10px;margin-top : 10px;">
            <iframe style="margin-top: 10px;width: 100%;height:250px;" src="https://www.youtube.com/embed/vxn5oXAVrWw" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="card-content" class="right-align">
            <div class="chip light-blue white-text">#فساد</div>
            <div class="chip light-blue white-text">#رشوة</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!--end of row-->