<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <br><br>
            <br><br>
            <h1 style="color:white;" class="header center">صوت تونسي</h1>
            <div class="row center">
                <h6 class="header col s12 light" dir="rtl" style="color:white;">
                    موقع لمشاركة رأيك و التعبير عن وجهة نضرك ! تتصور عندك حل مش نتطورو و نقدمو بالبلاد، عندك حل كيفاش نحاربو الفساد، لا عندك فكرة كيفاش نحسنو اقتصاد البلاد ! يمكن عندك ما تعلق على وزارة من الوزاراة و لا شفت  عوج في البلاد و تحب تعطي رايك مش نصلحو كل ما عليك انك تشارك رايك معنا و تتفاعل مع بقية التوانسة. اليد في اليد من اجل مستقبل أفضل.
                </h6>
            </div>
            <div class="row center">
                <a (click)="signInWithFacebook()" class="waves-effect waves-light btn  indigo darken-4">Facebook</a>
                <a (click)="signInWithGoogle()" class="waves-effect waves-light btn red darken-2">Google+</a>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="/assets/ibn_khaldoun.jpg"  style="display: block;"alt=""></div>
</div>