
<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <br/><br/>
        <br/><br/>
        <h4 class="header col s12 light" style="color:white;">أسم الاستطلاع</h4>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="/assets/servey.jpeg" style="display: block;"></div>
</div>
<br/>
<div class="container">
  <div class="row">
    <form action="#">
      <h5 dir="rtl"> السؤالالسؤال السؤال السؤال السؤال : </h5>
      <p dir="rtl" class="right" >
        <input name="group1" type="radio" id="q11" />
        <label dir="rtl" class="right" for="q11">جواب واحد</label>
      </p>
      <p dir="rtl" class="right" >
        <input name="group1" type="radio" id="q12" />
        <label dir="rtl" class="right" for="q12">جواب 2</label>
      </p>
      <p dir="rtl" class="right" >
        <input name="group1" type="radio" id="q13" />
        <label dir="rtl" class="right" for="q13">جواب 3</label>
      </p>

      <br/>
      <br/>
      <h5 dir="rtl"> السؤالالسؤال السؤال السؤال السؤال : </h5>
      <p dir="rtl" class="right" >
        <input name="group2" type="radio" id="q21" />
        <label dir="rtl" class="right" for="q21">جواب واحد</label>
      </p>
      <p dir="rtl" class="right" >
        <input name="group2" type="radio" id="q22" />
        <label dir="rtl" class="right" for="q22">جواب 2</label>
      </p>
      <p dir="rtl" class="right" >
        <input name="group2" type="radio" id="q23" />
        <label dir="rtl" class="right" for="q12">جواب 3</label>
      </p>

      <br/>
      <br/>
      <h5 dir="rtl"> السؤالالسؤال السؤال السؤال السؤال : </h5>
      <p dir="rtl" class="right" >
        <input name="group3" type="radio" id="q31" />
        <label dir="rtl" class="right" for="q31">جواب واحد</label>
      </p>
      <p dir="rtl" class="right" >
        <input name="group3" type="radio" id="q32" />
        <label dir="rtl" class="right" for="q32">جواب 2</label>
      </p>
      <p dir="rtl" class="right" >
        <input name="group3" type="radio" id="q33" />
        <label dir="rtl" class="right" for="q33">جواب 3</label>
      </p>


      <br/>
      <br/>
      <h5 dir="rtl"> السؤالالسؤال السؤال السؤال السؤال : </h5>
      <p dir="rtl" class="right" >
        <input name="group4" type="radio" id="q41" />
        <label dir="rtl" class="right" for="q41">جواب واحد</label>
      </p>
      <p dir="rtl" class="right" >
        <input name="group4" type="radio" id="q42" />
        <label dir="rtl" class="right" for="q42">جواب 2</label>
      </p>
      <p dir="rtl" class="right" >
        <input name="group4" type="radio" id="q43" />
        <label dir="rtl" class="right" for="q43">جواب 3</label>
      </p>

      <br/>
      <br/>
      <h5 dir="rtl"> السؤالالسؤال السؤال السؤال السؤال : </h5>
      <p dir="rtl" class="right" >
        <input name="group5" type="radio" id="q51" />
        <label dir="rtl" class="right" for="q51">جواب واحد</label>
      </p>
      <p dir="rtl" class="right" >
        <input name="group5" type="radio" id="q52" />
        <label dir="rtl" class="right" for="q52">جواب 2</label>
      </p>
      <p dir="rtl" class="right" >
        <input name="group5" type="radio" id="q53" />
        <label dir="rtl" class="right" for="q53">جواب 3</label>
      </p>
      <br/>
      <a style="margin-bottom: 20px" class="left waves-effect waves-light btn"><i class="material-icons right">person_pin</i>جاوب</a>

    </form>
  </div>
</div>