<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center" style="color: white;">صوت تونسي</h1>
        </div>
    </div>
    <div class="parallax"><img src="/assets/tunis.jpg" alt="Unsplashed background img 1" style="display: block; transform: translate3d(-50%, 245px, 0px);"></div>
</div>
<br/>

<div class="row">
    <div class="row center">
        <div class="col12">
            <div class="row section">
                <div class="chip light-blue white-text">
                    فساد
                </div>
                <div class="chip teal white-text">
                    التعليم في تونس
                </div>
                <div class="chip green white-text">
                    وزارة التعليم
                </div>
                <div class="chip brown darken-1 white-text">
                    التنمية الاقتصادية
                </div>
                <div class="chip light-blue white-text">
                    تونس 2020
                </div>
                <div class="chip teal white-text">
رشوة
                </div>
                <div class="chip green white-text">
                    الدستور التونسي
                </div>
                <div class="chip brown darken-1 white-text">
التشغيل
                </div>
            </div>
        </div>
        <div class=" col s3">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <iframe style="margin-top: 10px;width: 100%;height:250px;" src="https://www.youtube.com/embed/SHnEpDJLYTs" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class=" col s3">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <iframe style="margin-top: 10px;width: 100%;height:250px;" src="https://www.youtube.com/embed/1GWulbZR6eM" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class=" col s3">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <iframe style="margin-top: 10px;width: 100%;height:250px;" src="https://www.youtube.com/embed/mYj5T6fLLjQ" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class=" col s3">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <iframe style="margin-top: 10px;width: 100%;height:250px;" src="https://www.youtube.com/embed/vxn5oXAVrWw" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <br/>
            <br/>
            <div class="row center">
                <h3 class="header center" style="color: white;">أخر الاستطلاعات</h3>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/assets/stats.jpg" alt="Unsplashed background img 2" style="display: block; transform: translate3d(-50%, 256px, 0px);"></div>
</div>

<div class="container">
    <div class="section">
        <div class="row">

            <div class="col s4">
                <div class="row">
                    <div class="card">
                        <div  style="margin-bottom: 50px"  class="card-content">
                            <span class="card-title"><h4 dir="rtl">هل أثر الإرهاب على صورة التونسيين بالخارج؟</h4></span>
                            <p dir="rtl" class="right" >
                                <input name="group1" type="radio" id="q11" />
                                <label dir="rtl" class="right" for="q11">نعم</label>
                            </p>
                            <br/>
                            <br/>
                            <p dir="rtl" class="right" >
                                <input name="group1" type="radio" id="q12" />
                                <label dir="rtl" class="right" for="q12">لا</label>
                            </p>
                            <br/>
                            <br/>
                            <p dir="rtl" class="right" >
                                <input name="group1" type="radio" id="q13" />
                                <label dir="rtl" class="right" for="q13">دون رأي</label>
                            </p>
                            <br/>
                            <br/>
                            <a class="left waves-effect waves-light btn"><i class="material-icons right">person_pin</i>جاوب</a>
                        </div>
                        <div dir="rtl" class="card-action">
                            <ul class="collapsible" data-collapsible="accordion">
                                <li>
                                    <div class="collapsible-header"><i class="material-icons">insert_chart</i>
                                        <span class="blue-text text-darken-2">  النتائج </span>
                                    </div>
                                    <div class="collapsible-body"><span>
                                                                           نعم<br/>
90.3 %<br/>
لا<br/>
6.79 %
<br/>دون رأي
2.47 %<br/>
                                    </span></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s4">
                <div class="row">
                    <div class="card">
                        <div  style="margin-bottom: 50px"  class="card-content">
                            <span class="card-title"><h4 dir="rtl">هل طورت الدولة استعدادتها وامكانياتها لمجابهة الثلوج؟</h4></span>
                            <p dir="rtl" class="right" >
                                <input name="group2" type="radio" id="q21" />
                                <label dir="rtl" class="right" for="q21">نعم</label>
                            </p>
                            <br/>
                            <br/>
                            <p dir="rtl" class="right" >
                                <input name="group2" type="radio" id="q22" />
                                <label dir="rtl" class="right" for="q22">لا</label>
                            </p>
                            <br/>
                            <br/>
                            <p dir="rtl" class="right" >
                                <input name="group2" type="radio" id="q23" />
                                <label dir="rtl" class="right" for="q23">دون رأي</label>
                            </p>
                            <br/>
                            <br/>
                            <a class="left waves-effect waves-light btn"><i class="material-icons right">person_pin</i>جاوب</a>
                        </div>
                        <div dir="rtl" class="card-action">
                            <ul class="collapsible" data-collapsible="accordion">
                                <li>
                                    <div class="collapsible-header"><i class="material-icons">insert_chart</i>
                                        <span class="blue-text text-darken-2">  النتائج </span>
                                    </div>
                                    <div class="collapsible-body"><span>
                                    من هنا فصاعدا سأضع الحزام<br/>
16.73 %<br/>
لن أضع الحزام<br/>
76.48 %
<br/>لا أنتظر قانونا لأضع الحزام
6.79 %<br/>
                                    </span></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s4">
                <div class="row">
                    <div class="card">
                        <div  style="margin-bottom: 50px"  class="card-content">
                            <span class="card-title"><h4 dir="rtl">اجبارية وضع حزام الأمان</h4></span>
                            <p dir="rtl" class="right" >
                                <input name="group3" type="radio" id="q31" />
                                <label dir="rtl" class="right" for="q31">من هنا فصاعدا سأضع الحزام</label>
                            </p>
                            <br/>
                            <br/>
                            <p dir="rtl" class="right" >
                                <input name="group3" type="radio" id="q32" />
                                <label dir="rtl" class="right" for="q32">لن أضع الحزام</label>
                            </p>
                            <br/>
                            <br/>
                            <p dir="rtl" class="right" >
                                <input name="group3" type="radio" id="q33" />
                                <label dir="rtl" class="right" for="q33">لا أنتظر قانونا لأضع الحزام</label>
                            </p>
                            <br/>
                            <br/>
                            <a class="left waves-effect waves-light btn"><i class="material-icons right">person_pin</i>جاوب</a>
                        </div>
                        <div dir="rtl" class="card-action">
                            <ul class="collapsible" data-collapsible="accordion">
                                <li>
                                    <div class="collapsible-header"><i class="material-icons">insert_chart</i>
                                        <span class="blue-text text-darken-2">  النتائج </span>
                                    </div>
                                    <div class="collapsible-body"><span>
من هنا فصاعدا سأضع الحزام<br/>
35.66 %<br/>
لن أضع الحزام<br/>
20.52 %
<br/>لا أنتظر قانونا لأضع الحزام
43.81 %<br/>
                                    </span></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>